<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Facility - SquadUp</title>
</head>
<body>
    <h1>Book a Sports Facility</h1>

    <form method="POST" action="/book">
        <label for="facility">Choose Facility</label><br>
        <select id="facility" name="facility">
            <option value="Badminton Court">Badminton Court</option>
            <option value="Basketball Court">Basketball Court</option>
            <option value="Swimming Pool">Swimming Pool</option>
            <option value="Football Field">Football Field</option>
        </select>
        <br><br>

        <label for="date">Select Date</label><br>
        <input type="date" id="date" name="date">
        <br><br>

        <label>Start Time:</label><br>
        <input type="time" name="start_time"required><br><br>
        

        <label>End Time:</label><br>
        <input type="time" name="end_time"required><br><br>

        <button type="submit">Book Now</button>
    </form>



    <br>

    <hr>
    <h2> Create Event🏀🏈⚽➴🎾</h2>

    <form method="POST" action="/create_event">

        <label>Event Name:</label><br>
        <input type="text" name="event_name"  required><br><br>

        <label>Facility:</label><br>
        <select name="facility_id">
            <option value="1">Badminton Court🏸</option>
            <option value="2">Basketball Court🏀</option>
            <option value="3">Swimming Pool🏊</option>
            <option value="4">Football Field⚽</option>
        </select><br><br>

        <label>Date:</label><br>
        <input type="date" name="date"><br><br>
        
        <label>Start Time:</label><br>
        <input type="time" name="start_time"><br><br>

        <label>End Time:</label><br>
        <input type="time" name="end_time"><br><br>

        <label>Level:</label><br>
        <select name="level">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
        </select><br><br>

        <button type="submit">Create Event🏀🏈⚽➴🎾</button>
    </form>

    <a href="{{ url_for('home') }}">Back to Home</a>



</body>

</html>